.main {
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto;
    background:rgb(247, 212, 212);
}

.date-weather{
    /* outline:red solid 5px; */
    grid-column: span 2;
    background:rgb(247, 212, 212);
}
.group-table {
    /* outline:green solid 5px; */
    background:green;
    grid-column: span 1;
}

.fixtures-today{
    /* outline:blue solid 5px; */
    background:purple;
    grid-column: span 1;
}